Repository Goncalo-Marques/ecomap, pull requests merged in 2024-05, with the labels that each got.

#125 fix: ignore ways that are not class greater than 20
  server/internal/store/roadnetwork.go
Labels: bug, server app

#126 fix: add missing 409 response to delete methods
  server/api/swagger/ecomap.yml
  server/internal/domain/container.go
  server/internal/domain/employee.go
  server/internal/domain/fields.go
  server/internal/domain/road_network.go
  server/internal/domain/user.go
  server/internal/service/container.go
  server/internal/service/employee.go
  server/internal/service/user.go
  server/internal/store/container.go
  server/internal/store/container_report.go
  server/internal/store/employee.go
  server/internal/store/road_network.go
  server/internal/store/route_container.go
  server/internal/store/route_employee.go
  server/internal/store/user.go
  server/internal/store/user_container_bookmark.go
  server/internal/transport/http/container.go
  server/internal/transport/http/employee.go
  server/internal/transport/http/fault.go
  server/internal/transport/http/user.go
Labels: bug, server app

#127 feat: add warehouse crud
  server/.golangci.yml
  server/database/migrations/000001_initial_database.up.sql
  server/database/migrations/000002_add_road_network.down.sql
  server/database/migrations/000002_add_road_network.up.sql
  server/database/migrations/000003_add_municipalities.down.sql
  server/database/migrations/000003_add_municipalities.up.sql
  server/internal/domain/fields.go
  server/internal/domain/truck.go
  server/internal/domain/warehouse.go
  server/internal/logging/keys.go
  server/internal/service/service.go
  server/internal/service/warehouse.go
  server/internal/store/container.go
  server/internal/store/employee.go
  server/internal/store/route.go
  server/internal/store/store.go
  server/internal/store/truck.go
  server/internal/store/user.go
  server/internal/store/warehouse.go
  server/internal/store/warehouse_truck.go
  server/internal/transport/http/handler.go
  server/internal/transport/http/warehouse.go
Labels: enhancement, server app

#128 fix: update list location name filter
  server/api/swagger/ecomap.yml
  server/internal/domain/container.go
  server/internal/domain/employee.go
  server/internal/domain/fields.go
  server/internal/domain/pagination.go
  server/internal/domain/warehouse.go
  server/internal/service/container.go
  server/internal/service/employee.go
  server/internal/service/user.go
  server/internal/service/warehouse.go
  server/internal/store/container.go
  server/internal/store/employee.go
  server/internal/store/store.go
  server/internal/store/user.go
  server/internal/store/warehouse.go
  server/internal/transport/http/container.go
  server/internal/transport/http/employee.go
  server/internal/transport/http/mapper.go
  server/internal/transport/http/user.go
  server/internal/transport/http/warehouse.go
Labels: bug, server app

#92 feat: create containers page
  .github/workflows/ci-web.yml
  cspell.yml
  web/package-lock.json
  web/package.json
  web/src/App.svelte
  web/src/app.css
  web/src/domain/container.ts
  web/src/domain/stores/table.ts
  web/src/lib/clients/ecomap/http.ts
  web/src/lib/components/Button.svelte
  web/src/lib/components/Icon.svelte
  web/src/lib/components/Input.svelte
  web/src/lib/components/Popover.svelte
  web/src/lib/components/Radio.svelte
  web/src/lib/components/Search.svelte
  web/src/lib/components/table/Table.svelte
  web/src/lib/components/table/TableColumnFilter.svelte
  web/src/lib/components/table/__tests__/utils.test.ts
  web/src/lib/components/table/types.ts
  web/src/lib/components/table/utils.ts
  web/src/lib/constants/pagination.ts
  web/src/lib/constants/symbols.ts
  web/src/lib/stores/table.ts
  web/src/lib/stores/url.ts
  web/src/lib/utils/auth.ts
  web/src/lib/utils/debounce.ts
  web/src/lib/utils/i8n.ts
  web/src/lib/utils/url.ts
  web/src/locales/en.json
  web/src/locales/pt.json
  web/src/locales/schema.json
  web/src/routes/backOffice/components/BackOfficeLayout.svelte
  web/src/routes/backOffice/components/Card.svelte
  web/src/routes/backOffice/components/sidebar/SideBar.svelte
  web/src/routes/backOffice/containers/Containers.svelte
  web/src/routes/backOffice/containers/constants/category.ts
  web/src/routes/backOffice/containers/list/ContainersTable.svelte
  web/src/routes/backOffice/containers/list/SearchContainers.svelte
  web/src/routes/backOffice/containers/list/containersStore.ts
  web/src/routes/backOffice/employees/Employees.svelte
  web/src/routes/signIn/SignIn.svelte
  web/src/styles/reset.css
  web/vite.config.ts
Labels: enhancement, web app

#135 feat: define truck api
  server/api/swagger/ecomap.yml
  server/internal/transport/http/truck.go
Labels: enhancement, server app

#102 feat: create container details page
  web/package-lock.json
  web/package.json
  web/src/App.svelte
  web/src/app.css
  web/src/domain/components/icon.ts
  web/src/lib/components/BottomSheet.svelte
  web/src/lib/components/Button.svelte
  web/src/lib/components/Field.svelte
  web/src/lib/components/Icon.svelte
  web/src/lib/components/Spinner.svelte
  web/src/lib/components/details/DetailsContent.svelte
  web/src/lib/components/details/DetailsFields.svelte
  web/src/lib/components/details/DetailsHeader.svelte
  web/src/lib/components/details/DetailsSection.svelte
  web/src/lib/components/map/Map.svelte
  web/src/lib/components/map/mapUtils.ts
  web/src/lib/components/table/Table.svelte
  web/src/lib/components/table/TableDetailsAction.svelte
  web/src/lib/constants/date.ts
  web/src/lib/utils/date.ts
  web/src/locales/en.json
  web/src/locales/pt.json
  web/src/locales/schema.json
  web/src/routes/backOffice/containers/Containers.svelte
  web/src/routes/backOffice/containers/ContainersRouter.svelte
  web/src/routes/backOffice/containers/details/Container.svelte
  web/src/routes/backOffice/containers/details/ContainerMap.svelte
  web/src/routes/backOffice/containers/list/Containers.svelte
  web/src/routes/backOffice/containers/list/ContainersTable.svelte
  web/src/routes/backOffice/containers/utils/__tests__/location.test.ts
  web/src/routes/backOffice/containers/utils/location.ts
  web/src/routes/backOffice/map/Map.svelte
  web/src/styles/layouts.css
  web/vite.config.ts
Labels: enhancement, web app

#136 feat: add truck crud
  server/internal/domain/fields.go
  server/internal/domain/truck.go
  server/internal/logging/keys.go
  server/internal/service/service.go
  server/internal/service/truck.go
  server/internal/store/route.go
  server/internal/store/truck.go
  server/internal/store/warehouse_truck.go
  server/internal/transport/http/handler.go
  server/internal/transport/http/truck.go
Labels: enhancement, server app

#141 feat: define user container bookmark api
  server/api/swagger/ecomap.yml
  server/internal/transport/http/user_container_bookmark.go
Labels: enhancement, server app

#142 feat: add user container bookmark api
  server/api/swagger/ecomap.yml
  server/internal/domain/user_container_bookmark.go
  server/internal/service/service.go
  server/internal/service/user_container_bookmark.go
  server/internal/store/user_container_bookmark.go
  server/internal/transport/http/handler.go
  server/internal/transport/http/user_container_bookmark.go
Labels: enhancement, server app

#144 feat: add reverse geocoding endpoints
  server/api/swagger/ecomap.yml
  server/internal/domain/fields.go
  server/internal/service/municipality.go
  server/internal/service/road_network.go
  server/internal/service/service.go
  server/internal/store/municipality.go
  server/internal/transport/http/handler.go
  server/internal/transport/http/mapper.go
  server/internal/transport/http/municipality.go
  server/internal/transport/http/road_network.go
Labels: enhancement, server app

#146 feat: create edit container page
  web/package-lock.json
  web/package.json
  web/public/images/pin.svg
  web/src/App.svelte
  web/src/domain/container.ts
  web/src/domain/geojson.ts
  web/src/domain/toast.ts
  web/src/lib/clients/Modal.svelte
  web/src/lib/components/Button.svelte
  web/src/lib/components/FormControl.svelte
  web/src/lib/components/IconButton.svelte
  web/src/lib/components/Input.svelte
  web/src/lib/components/Select.svelte
  web/src/lib/components/SelectLocation.svelte
  web/src/lib/components/Toast.svelte
  web/src/lib/components/details/DetailsContent.svelte
  web/src/lib/components/details/DetailsHeader.svelte
  web/src/lib/components/details/DetailsSection.svelte
  web/src/lib/components/map/Map.svelte
  web/src/lib/components/map/mapUtils.ts
  web/src/lib/constants/fontSize.ts
  web/src/lib/constants/map.ts
  web/src/lib/constants/pagination.ts
  web/src/lib/constants/symbols.ts
  web/src/lib/contexts/toast.ts
  web/src/lib/utils/__tests__/location.test.ts
  web/src/lib/utils/auth.ts
  web/src/lib/utils/location.ts
  web/src/lib/utils/map.ts
  web/src/locales/en.json
  web/src/locales/pt.json
  web/src/locales/schema.json
  web/src/routes/backOffice/containers/ContainersRouter.svelte
  web/src/routes/backOffice/containers/components/ContainerForm.svelte
  web/src/routes/backOffice/containers/details/Container.svelte
  web/src/routes/backOffice/containers/details/ContainerMap.svelte
  web/src/routes/backOffice/containers/edit/EditContainer.svelte
  web/src/routes/backOffice/containers/list/ContainersTable.svelte
  web/src/routes/backOffice/containers/utils/category.ts
  web/src/routes/backOffice/containers/utils/location.ts
  web/src/routes/signIn/SignIn.svelte
  web/src/styles/colors.css
  web/src/styles/reset.css
Labels: enhancement, web app

#149 feat: create add container page
  web/src/lib/components/Option.svelte
  web/src/lib/components/Select.svelte
  web/src/locales/en.json
  web/src/locales/pt.json
  web/src/locales/schema.json
  web/src/routes/backOffice/containers/ContainersRouter.svelte
  web/src/routes/backOffice/containers/components/ContainerForm.svelte
  web/src/routes/backOffice/containers/create/CreateContainer.svelte
  web/src/routes/backOffice/containers/list/Containers.svelte
Labels: enhancement, web app

#151 feat: create delete container
  web/src/lib/components/Button.svelte
  web/src/lib/components/Icon.svelte
  web/src/lib/components/Toast.svelte
  web/src/lib/components/table/TableColumnFilter.svelte
  web/src/locales/en.json
  web/src/locales/pt.json
  web/src/locales/schema.json
  web/src/routes/backOffice/containers/details/Container.svelte
  web/src/routes/backOffice/containers/details/ContainerMap.svelte
  web/src/routes/backOffice/containers/list/Containers.svelte
  web/src/styles/reset.css
Labels: enhancement, web app

#157 feat: define route api specification
  server/api/swagger/ecomap.yml
  server/database/migrations/000001_initial_database.up.sql
  server/internal/domain/employee.go
  server/internal/domain/user_container_bookmark.go
  server/internal/service/employee.go
  server/internal/store/employee.go
  server/internal/store/route_container.go
  server/internal/store/user_container_bookmark.go
  server/internal/transport/http/employee.go
  server/internal/transport/http/route.go
  server/internal/transport/http/route_container.go
  server/internal/transport/http/route_employee.go
  server/internal/transport/http/user_container_bookmark.go
Labels: enhancement, server app

#166 feat: support sorting capacity fields
  server/Makefile
  server/api/swagger/ecomap.yml
  server/internal/domain/truck.go
  server/internal/domain/warehouse.go
  server/internal/store/truck.go
  server/internal/store/warehouse.go
  server/internal/transport/http/truck.go
  server/internal/transport/http/warehouse.go
Labels: enhancement, server app

#143 feat: create employees page
  cspell.yml
  web/src/App.svelte
  web/src/domain/employees.ts
  web/src/lib/constants/date.ts
  web/src/locales/en.json
  web/src/locales/pt.json
  web/src/locales/schema.json
  web/src/routes/backOffice/employees/Employees.svelte
  web/src/routes/backOffice/employees/EmployeesRouter.svelte
  web/src/routes/backOffice/employees/constants/roles.ts
  web/src/routes/backOffice/employees/list/Employees.svelte
  web/src/routes/backOffice/employees/list/EmployeesTable.svelte
  web/src/routes/backOffice/employees/list/SearchEmployees.svelte
  web/src/routes/backOffice/employees/list/employeesStore.ts
Labels: enhancement, web app

#174 feat: add route crud endpoints
  server/Makefile
  server/api/swagger/ecomap.yml
  server/internal/domain/fields.go
  server/internal/domain/route.go
  server/internal/domain/route_employee.go
  server/internal/domain/warehouse.go
  server/internal/logging/keys.go
  server/internal/service/route.go
  server/internal/service/service.go
  server/internal/service/warehouse.go
  server/internal/store/route.go
  server/internal/store/route_container.go
  server/internal/store/route_employee.go
  server/internal/store/truck.go
  server/internal/transport/http/handler.go
  server/internal/transport/http/route.go
Labels: enhancement, server app

#180 feat: display containers, trucks and warehouses on map
  web/public/images/container-pin-selected.svg
  web/public/images/truck-pin-selected.svg
  web/public/images/warehouse-pin-selected.svg
  web/src/domain/components/map.ts
  web/src/lib/components/BottomSheet.svelte
  web/src/lib/components/map/LayerItem.svelte
  web/src/lib/components/map/Map.svelte
  web/src/lib/components/map/mapUtils.ts
  web/src/lib/constants/map.ts
  web/src/lib/utils/cssVars.ts
  web/src/lib/utils/request.ts
  web/src/locales/en.json
  web/src/locales/pt.json
  web/src/locales/schema.json
  web/src/routes/backOffice/components/FeatureCard.svelte
  web/src/routes/backOffice/components/sidebar/SideBar.svelte
  web/src/routes/backOffice/containers/components/ContainerForm.svelte
  web/src/routes/backOffice/containers/details/Container.svelte
  web/src/routes/backOffice/containers/details/ContainerBottomSheet.svelte
  web/src/routes/backOffice/containers/details/ContainerMap.svelte
  web/src/routes/backOffice/containers/list/Containers.svelte
  web/src/routes/backOffice/containers/list/ContainersTable.svelte
  web/src/routes/backOffice/dashboard/Dashboard.svelte
  web/src/routes/backOffice/employees/list/Employees.svelte
  web/src/routes/backOffice/employees/list/EmployeesTable.svelte
  web/src/routes/backOffice/map/Map.svelte
  web/src/routes/backOffice/map/MapBottomSheet.svelte
  web/src/routes/backOffice/reports/Reports.svelte
  web/src/routes/backOffice/routes/Routes.svelte
  web/src/routes/backOffice/trucks/details/Truck.svelte
  web/src/routes/backOffice/trucks/details/TruckBottomSheet.svelte
  web/src/routes/backOffice/trucks/details/TruckMap.svelte
  web/src/routes/backOffice/warehouses/details/Warehouse.svelte
  web/src/routes/backOffice/warehouses/details/WarehouseBottomSheet.svelte
  web/src/routes/backOffice/warehouses/details/WarehouseMap.svelte
  web/src/styles/colors.css
Labels: enhancement, web app

#178 feat: add route container association endpoints
  server/internal/domain/route_container.go
  server/internal/service/route_container.go
  server/internal/service/service.go
  server/internal/store/route_container.go
  server/internal/store/route_employee.go
  server/internal/transport/http/handler.go
  server/internal/transport/http/route_container.go
  server/internal/transport/http/user_container_bookmark.go
Labels: enhancement, server app

#179 feat: add route employee association endpoints
  server/api/swagger/ecomap.yml
  server/internal/domain/fields.go
  server/internal/domain/route.go
  server/internal/domain/route_employee.go
  server/internal/logging/keys.go
  server/internal/service/route_employee.go
  server/internal/service/service.go
  server/internal/store/route_employee.go
  server/internal/transport/http/handler.go
  server/internal/transport/http/route.go
  server/internal/transport/http/route_employee.go
Labels: enhancement, server app

#182 feat: define landfill api specification
  server/api/swagger/ecomap.yml
  server/internal/transport/http/landfill.go
Labels: enhancement, server app

#184 feat: add landfill db migration
  server/config.yml
  server/database/migrations/000004_add_landfills.down.sql
  server/database/migrations/000004_add_landfills.up.sql
  server/deployments/prod/config.yml
Labels: enhancement, server app

#190 feat: add landfill crud endpoints
  server/internal/domain/landfill.go
  server/internal/logging/keys.go
  server/internal/service/landfill.go
  server/internal/service/service.go
  server/internal/store/landfill.go
  server/internal/transport/http/handler.go
  server/internal/transport/http/landfill.go
Labels: enhancement, server app

#195 feat: add endpoint to retrieve route ways
  cspell.yml
  server/api/swagger/ecomap.yml
  server/internal/service/route.go
  server/internal/service/service.go
  server/internal/store/landfill.go
  server/internal/store/road_network.go
  server/internal/transport/http/handler.go
  server/internal/transport/http/mapper.go
  server/internal/transport/http/route.go
Labels: enhancement, server app

#196 feat: remove employee schedule validation
  server/internal/service/employee.go
Labels: enhancement, server app

#204 feat: display landfills on map
  web/src/routes/backOffice/map/Map.svelte
  web/src/routes/backOffice/map/MapBottomSheet.svelte
  web/src/styles/colors.css
Labels: enhancement, web app

#193 feat(android): display user location
  android/app/build.gradle.kts
  android/app/src/main/java/com/ecomap/ecomap/MainActivity.kt
  android/app/src/main/java/com/ecomap/ecomap/MapFragment.kt
  android/app/src/main/java/com/ecomap/ecomap/clients/ecomap/http/ApiClient.kt
  android/app/src/main/java/com/ecomap/ecomap/signin/CreateAccountActivity.kt
  android/app/src/main/java/com/ecomap/ecomap/signin/SignInActivity.kt
  android/app/src/main/res/drawable/my_location.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/fragment_map.xml
  android/app/src/main/res/values-en/strings.xml
  android/app/src/main/res/values-pt/strings.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
  android/gradle/libs.versions.toml
  cspell.yml
Labels: enhancement, android app

#169 feat: add employee details page and delete feature
  web/src/App.svelte
  web/src/lib/constants/date.ts
  web/src/lib/utils/date.ts
  web/src/locales/en.json
  web/src/locales/pt.json
  web/src/locales/schema.json
  web/src/routes/backOffice/employees/EmployeesRouter.svelte
  web/src/routes/backOffice/employees/details/Employee.svelte
  web/src/routes/backOffice/employees/list/EmployeesTable.svelte
Labels: enhancement, web app

#210 feat: update route spec schema
  cspell.yml
  server/api/swagger/ecomap.yml
  server/internal/domain/route.go
  server/internal/service/route.go
  server/internal/service/route_employee.go
  server/internal/store/route.go
  server/internal/transport/http/route.go
Labels: enhancement, server app

#209 feat: display employee top bar menu
  web/src/lib/components/Divider.svelte
  web/src/lib/components/Menu.svelte
  web/src/lib/components/MenuItem.svelte
  web/src/lib/components/Popover.svelte
  web/src/lib/components/table/TableColumnFilter.svelte
  web/src/lib/utils/auth.ts
  web/src/locales/en.json
  web/src/locales/pt.json
  web/src/locales/schema.json
  web/src/routes/backOffice/components/topbar/EmployeeMenu.svelte
  web/src/routes/backOffice/components/topbar/TopBar.svelte
  web/src/routes/backOffice/employees/details/Employee.svelte
  web/src/styles/reset.css
Labels: enhancement, web app

#206 feat(android): display containers
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/ecomap/ecomap/MainActivity.kt
  android/app/src/main/java/com/ecomap/ecomap/clients/ecomap/http/ApiClient.kt
  android/app/src/main/java/com/ecomap/ecomap/domain/Container.kt
  android/app/src/main/java/com/ecomap/ecomap/domain/Error.kt
  android/app/src/main/java/com/ecomap/ecomap/domain/GeoJSON.kt
  android/app/src/main/java/com/ecomap/ecomap/domain/User.kt
  android/app/src/main/java/com/ecomap/ecomap/signin/CreateAccountActivity.kt
  android/app/src/main/java/com/ecomap/ecomap/signin/SignInActivity.kt
  android/app/src/main/res/drawable/marker_icon.bmp
  android/app/src/main/res/values-en/strings.xml
  android/app/src/main/res/values-pt/strings.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/xml/data_extraction_rules.xml
Labels: enhancement, android app

#214 fix: add missing feature type
  server/internal/transport/http/mapper.go
Labels: bug, server app

#215 feat: delete associations on cascade
  server/api/swagger/ecomap.yml
  server/database/migrations/000001_initial_database.up.sql
  server/internal/domain/container.go
  server/internal/domain/employee.go
  server/internal/domain/route.go
  server/internal/domain/user.go
  server/internal/domain/warehouse.go
  server/internal/service/container.go
  server/internal/service/employee.go
  server/internal/service/route.go
  server/internal/service/user.go
  server/internal/service/warehouse.go
  server/internal/store/container.go
  server/internal/store/container_report.go
  server/internal/store/employee.go
  server/internal/store/route.go
  server/internal/store/user.go
  server/internal/store/warehouse.go
  server/internal/store/warehouse_truck.go
  server/internal/transport/http/container.go
  server/internal/transport/http/employee.go
  server/internal/transport/http/route.go
  server/internal/transport/http/user.go
  server/internal/transport/http/warehouse.go
  web/src/locales/en.json
  web/src/locales/pt.json
Labels: enhancement, server app

#208 feat(android): filter containers by category
  android/app/build.gradle.kts
  android/app/src/main/ic_launcher-playstore.png
  android/app/src/main/java/com/ecomap/ecomap/Common.kt
  android/app/src/main/java/com/ecomap/ecomap/MainActivity.kt
  android/app/src/main/java/com/ecomap/ecomap/clients/ecomap/http/ApiClient.kt
  android/app/src/main/java/com/ecomap/ecomap/domain/Container.kt
  android/app/src/main/java/com/ecomap/ecomap/domain/GeoJSON.kt
  android/app/src/main/java/com/ecomap/ecomap/map/ContainerClusterRenderer.kt
  android/app/src/main/java/com/ecomap/ecomap/map/ContainerMarker.kt
  android/app/src/main/java/com/ecomap/ecomap/map/Fragment.kt
  android/app/src/main/java/com/ecomap/ecomap/signin/CreateAccountActivity.kt
  android/app/src/main/java/com/ecomap/ecomap/signin/SignInActivity.kt
  android/app/src/main/res/color/chip_bg.xml
  android/app/src/main/res/color/chip_text.xml
  android/app/src/main/res/drawable/general.xml
  android/app/src/main/res/drawable/glass.xml
  android/app/src/main/res/drawable/hazardous.xml
  android/app/src/main/res/drawable/ic_launcher_background.xml
  android/app/src/main/res/drawable/ic_launcher_foreground.xml
  android/app/src/main/res/drawable/metal.xml
  android/app/src/main/res/drawable/organic.xml
  android/app/src/main/res/drawable/paper.xml
  android/app/src/main/res/drawable/plastic.xml
  android/app/src/main/res/layout/activity_create_account.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/fragment_map.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.webp
  android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  android/app/src/main/res/values-en/strings.xml
  android/app/src/main/res/values-pt/strings.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/ic_launcher_background.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
  android/gradle/libs.versions.toml
  cspell.yml
Labels: enhancement, android app

#216 feat(android): display container information on marker click
  android/app/src/main/java/com/ecomap/ecomap/MainActivity.kt
  android/app/src/main/java/com/ecomap/ecomap/domain/GeoJSON.kt
  android/app/src/main/java/com/ecomap/ecomap/map/ContainerCategoriesRecyclerViewAdapter.kt
  android/app/src/main/java/com/ecomap/ecomap/map/ContainerMarker.kt
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/frame_layout_container_categories.xml
  android/app/src/main/res/values-en/strings.xml
  android/app/src/main/res/values-pt/strings.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  cspell.yml
Labels: enhancement, android app

#213 feat: add update employee password
  web/src/domain/components/icon.ts
  web/src/lib/clients/ecomap/http.ts
  web/src/lib/components/FormControl.svelte
  web/src/lib/components/FormModal.svelte
  web/src/lib/components/Modal.svelte
  web/src/lib/components/SelectLocation.svelte
  web/src/locales/en.json
  web/src/locales/pt.json
  web/src/locales/schema.json
  web/src/routes/backOffice/containers/components/ContainerForm.svelte
  web/src/routes/backOffice/employees/details/Employee.svelte
  web/src/routes/backOffice/employees/details/UpdatePasswordModal.svelte
  web/src/routes/backOffice/landfills/components/LandfillForm.svelte
  web/src/routes/backOffice/trucks/components/TruckForm.svelte
  web/src/routes/backOffice/warehouses/components/WarehouseForm.svelte
  web/src/routes/signIn/SignIn.svelte
Labels: enhancement, web app

#223 feat(android): allow bookmarking a container
  android/app/src/main/java/com/ecomap/ecomap/Common.kt
  android/app/src/main/java/com/ecomap/ecomap/MainActivity.kt
  android/app/src/main/java/com/ecomap/ecomap/clients/ecomap/http/ApiClient.kt
  android/app/src/main/java/com/ecomap/ecomap/map/ContainerMarker.kt
  android/app/src/main/res/drawable/bookmark.xml
  android/app/src/main/res/drawable/bookmark_fill.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/frame_layout_container_categories.xml
  android/app/src/main/res/values-en/strings.xml
  android/app/src/main/res/values-pt/strings.xml
  android/app/src/main/res/values/strings.xml
  cspell.yml
Labels: enhancement, android app
