Repository Goncalo-Marques/ecomap, pull requests merged in 2024-06, with the labels that each got.

#227 feat(android): add user account activity
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/ecomap/ecomap/Common.kt
  android/app/src/main/java/com/ecomap/ecomap/MainActivity.kt
  android/app/src/main/java/com/ecomap/ecomap/clients/ecomap/http/ApiClient.kt
  android/app/src/main/java/com/ecomap/ecomap/data/UserStore.kt
  android/app/src/main/java/com/ecomap/ecomap/signin/CreateAccountActivity.kt
  android/app/src/main/java/com/ecomap/ecomap/signin/SignInActivity.kt
  android/app/src/main/java/com/ecomap/ecomap/user/UserAccountActivity.kt
  android/app/src/main/res/drawable/account.xml
  android/app/src/main/res/drawable/sign_out.xml
  android/app/src/main/res/layout/activity_create_account.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/activity_sign_in.xml
  android/app/src/main/res/layout/activity_user_account.xml
  android/app/src/main/res/values-en/strings.xml
  android/app/src/main/res/values-pt/strings.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
  cspell.yml
Labels: enhancement, android app

#229 feat(android): list user container bookmarks
  android/app/src/main/java/com/ecomap/ecomap/MainActivity.kt
  android/app/src/main/java/com/ecomap/ecomap/clients/ecomap/http/ApiClient.kt
  android/app/src/main/java/com/ecomap/ecomap/map/ContainerCategoriesRecyclerViewAdapter.kt
  android/app/src/main/java/com/ecomap/ecomap/user/ContainerBookmarksRecyclerViewAdapter.kt
  android/app/src/main/java/com/ecomap/ecomap/user/UserAccountActivity.kt
  android/app/src/main/res/drawable/background_container_bookmark.xml
  android/app/src/main/res/drawable/background_info_window.xml
  android/app/src/main/res/drawable/bookmark.xml
  android/app/src/main/res/drawable/bookmark_fill.xml
  android/app/src/main/res/layout/activity_create_account.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/activity_user_account.xml
  android/app/src/main/res/layout/container_bookmark.xml
  android/app/src/main/res/layout/container_category.xml
  android/app/src/main/res/layout/frame_layout_container_categories.xml
  android/app/src/main/res/values-en/strings.xml
  android/app/src/main/res/values-pt/strings.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
  android/gradle/libs.versions.toml
  cspell.yml
Labels: enhancement, android app

#233 fix(android): support dark theme
  android/app/src/main/res/values-night/themes.xml
  android/app/src/main/res/values/themes.xml
Labels: bug, android app

#205 feat: create edit employee page
  web/src/lib/constants/date.ts
  web/src/lib/utils/date.ts
  web/src/locales/en.json
  web/src/locales/pt.json
  web/src/locales/schema.json
  web/src/routes/backOffice/employees/EmployeesRouter.svelte
  web/src/routes/backOffice/employees/components/EmployeeForm.svelte
  web/src/routes/backOffice/employees/details/Employee.svelte
  web/src/routes/backOffice/employees/edit/EditEmployee.svelte
Labels: enhancement, web app

#236 docs: add readme introduction
  README.md
Labels: documentation

#228 feat: create add employee page
  web/src/domain/employees.ts
  web/src/locales/en.json
  web/src/locales/pt.json
  web/src/locales/schema.json
  web/src/routes/backOffice/employees/EmployeesRouter.svelte
  web/src/routes/backOffice/employees/components/EmployeeForm.svelte
  web/src/routes/backOffice/employees/create/CreateEmployee.svelte
  web/src/routes/backOffice/employees/details/UpdatePasswordModal.svelte
  web/src/routes/backOffice/employees/edit/EditEmployee.svelte
  web/src/routes/backOffice/employees/list/Employees.svelte
  web/src/routes/backOffice/employees/utils/employee.ts
Labels: enhancement, web app

#234 feat: display dashboard
  web/package-lock.json
  web/package.json
  web/src/lib/components/table/Table.svelte
  web/src/lib/utils/chart.ts
  web/src/lib/utils/color.ts
  web/src/locales/en.json
  web/src/locales/pt.json
  web/src/locales/schema.json
  web/src/main.ts
  web/src/routes/backOffice/components/BackOfficeLayout.svelte
  web/src/routes/backOffice/components/Card.svelte
  web/src/routes/backOffice/components/sidebar/SideBar.svelte
  web/src/routes/backOffice/components/topbar/TopBar.svelte
  web/src/routes/backOffice/dashboard/Dashboard.svelte
  web/src/routes/backOffice/dashboard/partials/ActiveEmployees.svelte
  web/src/routes/backOffice/dashboard/partials/ContainersAdded.svelte
  web/src/routes/backOffice/dashboard/partials/ContainersByCategory.svelte
  web/src/routes/backOffice/dashboard/partials/ContainersByMunicipality.svelte
  web/src/routes/backOffice/dashboard/partials/TruckAmount.svelte
  web/src/routes/backOffice/dashboard/partials/WarehouseAmount.svelte
  web/src/routes/backOffice/routes/components/OperatorsTable.svelte
  web/src/routes/backOffice/routes/details/routeEmployees/RouteEmployeesTable.svelte
  web/src/styles/colors.css
Labels: enhancement, web app

#235 feat: consider intermediary route vertices
  cspell.yml
  server/Makefile
  server/internal/service/container.go
  server/internal/service/employee.go
  server/internal/service/landfill.go
  server/internal/service/route.go
  server/internal/service/service.go
  server/internal/service/truck.go
  server/internal/service/warehouse.go
  server/internal/store/road_network.go
Labels: enhancement, server app

#237 fix: fix employee schedule time format
  web/src/lib/constants/date.ts
Labels: bug, web app

#238 fix: fix map zoom
  web/src/routes/backOffice/map/Map.svelte
Labels: bug, web app

#239 fix: fix map max zoom
  web/src/routes/backOffice/map/Map.svelte
Labels: bug, web app

#243 chore: update server address
  android/app/build.gradle.kts
  android/app/src/main/java/com/ecomap/ecomap/clients/ecomap/http/ApiClient.kt
  android/gradle/libs.versions.toml
  android/gradle/wrapper/gradle-wrapper.properties
  server/api/swagger/ecomap.yml
Labels: enhancement, server app, android app

#245 feat: move locale to employee profile page
  web/src/domain/locale.ts
  web/src/lib/constants/locale.ts
  web/src/lib/utils/i8n.ts
  web/src/locales/en.json
  web/src/locales/pt.json
  web/src/locales/schema.json
  web/src/routes/backOffice/components/sidebar/LocaleSelect.svelte
  web/src/routes/backOffice/components/sidebar/SideBar.svelte
  web/src/routes/backOffice/employees/components/EmployeeForm.svelte
  web/src/routes/backOffice/employees/details/Employee.svelte
  web/src/routes/backOffice/employees/edit/EditEmployee.svelte
Labels: enhancement, web app

#246 feat: add support modal
  cspell.yml
  web/public/images/linkedin.svg
  web/src/lib/components/Modal.svelte
  web/src/locales/en.json
  web/src/locales/pt.json
  web/src/locales/schema.json
  web/src/routes/backOffice/components/sidebar/SideBar.svelte
  web/src/routes/backOffice/components/sidebar/Support.svelte
  web/src/styles/reset.css
Labels: enhancement, web app
