Repository Goncalo-Marques/ecomap, pull requests merged in 2024-07, with the labels that each got.

#247 chore: update support team email
  web/src/routes/backOffice/components/sidebar/Support.svelte
Labels: enhancement, web app

#248 feat: add http client timeout
  web/src/lib/clients/ecomap/http.ts
Labels: enhancement, web app

#250 feat: add http server write timeout
  server/cmd/server/main.go
  server/config.yml
  server/deployments/prod/config.yml
  server/internal/config/model.go
Labels: enhancement, server app

#256 fix: fix http client timeout
  web/src/lib/clients/ecomap/http.ts
Labels: bug, web app

#257 fix: fix chart recreation
  web/src/routes/backOffice/dashboard/partials/ContainersAdded.svelte
  web/src/routes/backOffice/dashboard/partials/ContainersByCategory.svelte
  web/src/routes/backOffice/dashboard/partials/ContainersByMunicipality.svelte
Labels: bug, web app

#252 feat: define warehouse truck api specification
  server/api/swagger/ecomap.yml
  server/database/migrations/000001_initial_database.up.sql
  server/internal/transport/http/warehouse_truck.go
Labels: enhancement, server app

#263 fix: fix routes with no containers associated
  web/src/lib/errors/route.ts
  web/src/locales/en.json
  web/src/locales/pt.json
  web/src/locales/schema.json
  web/src/routes/backOffice/routes/components/RouteForm.svelte
  web/src/routes/backOffice/routes/components/SelectContainers.svelte
  web/src/routes/backOffice/routes/details/RouteMap.svelte
Labels: bug, web app
