Repository Goncalo-Marques/ecomap, pull requests merged in 2024-03, with the labels that each got.

#5 chore: set up web app
  .github/CODEOWNERS
  .github/pull_request_template.md
  .github/workflows/ci-web.yml
  .gitignore
  README.md
  web/.editorconfig
  web/index.html
  web/package-lock.json
  web/package.json
  web/public/vite.svg
  web/src/App.svelte
  web/src/app.css
  web/src/assets/svelte.svg
  web/src/lib/Counter.svelte
  web/src/main.ts
  web/src/vite-env.d.ts
  web/svelte.config.js
  web/tsconfig.json
  web/tsconfig.node.json
  web/vite.config.ts
Labels: enhancement, web app

#6 chore: set up android project
  .editorconfig
  .github/CODEOWNERS
  .github/workflows/ci-android.yml
  .gitignore
  README.md
  android/app/build.gradle.kts
  android/app/proguard-rules.pro
  android/app/src/androidTest/java/com/ecomap/ecomap/ExampleInstrumentedTest.kt
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/ecomap/ecomap/MainActivity.kt
  android/app/src/main/res/drawable/ic_launcher_background.xml
  android/app/src/main/res/drawable/ic_launcher_foreground.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  android/app/src/main/res/values-night/themes.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
  android/app/src/main/res/xml/backup_rules.xml
  android/app/src/main/res/xml/data_extraction_rules.xml
  android/app/src/test/java/com/ecomap/ecomap/ExampleUnitTest.kt
  android/build.gradle.kts
  android/gradle.properties
  android/gradle/libs.versions.toml
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/gradlew.bat
  android/settings.gradle.kts
Labels: enhancement, android app

#8 chore: add spell checker action
  .github/workflows/spellcheck.yml
  cspell.yml
  web/tsconfig.json
Labels: enhancement

#9 feat: add API proxy
  .github/workflows/ci-web.yml
  web/src/App.svelte
  web/src/app.css
  web/src/assets/svelte.svg
  web/src/lib/Counter.svelte
  web/src/lib/Employee.svelte
  web/tsconfig.json
  web/vite.config.ts
Labels: enhancement, web app

#11 ci: deploy production
  .github/workflows/ci-server.yml
  .github/workflows/deploy-prod.yml
  cspell.yml
  server/Makefile
  server/config.yml
  server/database/database_test.go
  server/database/migrations_test.go
  server/go.mod
  server/test/container/container.go
  server/test/container/database.go
Labels: enhancement

#34 chore: unify deployment steps
  .github/workflows/deploy-prod.yml
  cspell.yml
  database.Dockerfile
  docker-compose.yml
  server/database/database_test.go
  server/database/migrations_test.go
  server/test/container/database.go
Labels: enhancement

#37 chore: fix server inconsistencies
  .github/workflows/deploy-prod.yml
  README.md
  cspell.yml
  server.Dockerfile
  server/api/swagger/ecomap.yml
  server/config.yml
  server/deployments/prod/config.yml
  server/internal/transport/http/handler.go
Labels: enhancement, server app

#39 feat: create login page
  cspell.yml
  web/index.html
  web/package-lock.json
  web/package.json
  web/public/favicon/favicon.png
  web/public/favicon/favicon.svg
  web/public/fonts/Inter.ttf
  web/public/vite.svg
  web/src/App.svelte
  web/src/app.css
  web/src/lib/Employee.svelte
  web/src/lib/components/Button.svelte
  web/src/lib/components/Input.svelte
  web/src/lib/utils/i8n.ts
  web/src/locales/en.json
  web/src/locales/pt.json
  web/src/locales/schema.json
  web/src/routes/SignIn.svelte
  web/src/styles/colors.css
  web/src/styles/fonts.css
  web/src/styles/reset.css
  web/src/styles/shadows.css
  web/src/styles/transitions.css
Labels: enhancement, web app

#40 feat: handle single-page app routing
  Makefile
  server/cmd/server/main.go
  server/internal/transport/http/handler.go
Labels: enhancement, server app

#42 feat: add initial database migration
  cspell.yml
  server/database/migrations/000001_initial_database.down.sql
  server/database/migrations/000001_initial_database.up.sql
  server/database/migrations/000001_initialdb.down.sql
  server/database/migrations/000001_initialdb.up.sql
Labels: enhancement, server app

#45 feat: add base layout
  web/src/App.svelte
  web/src/app.css
  web/src/lib/components/Button.svelte
  web/src/lib/components/Icon.svelte
  web/src/lib/components/Input.svelte
  web/src/lib/utils/url.ts
  web/src/locales/en.json
  web/src/locales/pt.json
  web/src/locales/schema.json
  web/src/routes/SignIn.svelte
  web/src/routes/components/Layout.svelte
  web/src/routes/components/sidebar/SideBar.svelte
  web/src/routes/components/topbar/Logo.svelte
  web/src/routes/components/topbar/TopBar.svelte
  web/src/routes/constants/appRoutes.ts
  web/src/routes/containers/Containers.svelte
  web/src/routes/dashboard/Dashboard.svelte
  web/src/routes/employees/Employees.svelte
  web/src/routes/map/Map.svelte
  web/src/routes/notFound/NotFound.svelte
  web/src/routes/reports/Reports.svelte
  web/src/routes/routes/Routes.svelte
  web/src/routes/signIn/SignIn.svelte
  web/src/routes/trucks/Trucks.svelte
  web/src/routes/warehouses/Warehouses.svelte
  web/src/styles/colors.css
  web/src/styles/fonts.css
  web/src/styles/reset.css
Labels: enhancement, web app

#49 feat: add authorization middleware
  server/api/swagger/ecomap.yml
  server/cmd/server/main.go
  server/database/migrations/000001_initial_database.down.sql
  server/database/migrations/000001_initial_database.up.sql
  server/internal/authn/jwt.go
  server/internal/authz/authz.go
  server/internal/authz/middleware.go
  server/internal/domain/employee.go
  server/internal/logging/keys.go
  server/internal/service/employee.go
  server/internal/service/service.go
  server/internal/store/employee.go
  server/internal/store/store.go
  server/internal/transport/http/authz.go
  server/internal/transport/http/fault.go
  server/internal/transport/http/handler.go
  server/internal/transport/http/mapper.go
Labels: enhancement, server app

#48 feat: integrate login page with server
  .gitignore
  Makefile
  server/Makefile
  web/package-lock.json
  web/package.json
  web/src/App.svelte
  web/src/domain/jwt.ts
  web/src/domain/role.ts
  web/src/lib/clients/ecomap/http.ts
  web/src/lib/components/Input.svelte
  web/src/lib/utils/auth.ts
  web/src/locales/en.json
  web/src/locales/pt.json
  web/src/locales/schema.json
  web/src/routes/backOffice/components/BackOfficeLayout.svelte
  web/src/routes/backOffice/components/sidebar/SideBar.svelte
  web/src/routes/backOffice/components/topbar/Logo.svelte
  web/src/routes/backOffice/components/topbar/TopBar.svelte
  web/src/routes/backOffice/containers/Containers.svelte
  web/src/routes/backOffice/dashboard/Dashboard.svelte
  web/src/routes/backOffice/employees/Employees.svelte
  web/src/routes/backOffice/map/Map.svelte
  web/src/routes/backOffice/reports/Reports.svelte
  web/src/routes/backOffice/routes/Routes.svelte
  web/src/routes/backOffice/trucks/Trucks.svelte
  web/src/routes/backOffice/warehouses/Warehouses.svelte
  web/src/routes/clientErrors/Forbidden.svelte
  web/src/routes/clientErrors/NotFound.svelte
  web/src/routes/components/Layout.svelte
  web/src/routes/constants/appRoutes.ts
  web/src/routes/constants/routes.ts
  web/src/routes/signIn/SignIn.svelte
  web/src/styles/colors.css
  web/tsconfig.json
Labels: enhancement, web app

#50 feat: support google maps sdk
  .gitignore
  README.md
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/ecomap/ecomap/MainActivity.kt
  android/app/src/main/res/layout/activity_main.xml
  android/build.gradle.kts
  android/gradle/libs.versions.toml
  android/local.defaults.properties
  cspell.yml
Labels: enhancement, android app
